<h2>Edit your jounrals here!!!</h2>
<form method="POST" action='/list-journals/save'>
    <label>Date: <input type="date" name="date" value=""></label>
    <label>Content: <input type="text" name="content"></label>
    <label id="editbtn"><input type="submit" value = "Edit" id="edit"></label>
    <input type="hidden" value="saveform">
</form>